<label for="title">Наказ</label>
<input type="text" id="title" name="title" required>

<label for="issuedBy">Ким виданий</label>
<input type="text" id="issuedBy" name="issuedBy" required>

<label for="issuedDate">Дата видачі</label>
<input type="date" id="issuedDate" name="issuedDate" required>

<label for="effectiveDate">Дата вступання наказу в силу</label>
<input type="date" id="effectiveDate" name="effectiveDate" required>

<label for="status">Статус виконання</label>
<select id="status" name="status" required>
    <option value="На підписі">На підписі</option>
    <option value="Підписаний">Підписаний</option>
    <option value="В архіві">В архіві</option>
</select>

<label for="priority">Секретність</label>
<select id="priority" name="priority" required>
    <option value="Таємно">Таємно</option>
    <option value="Цілком таємно">Цілком таємно</option>
    <option value="Особливої важливості">Особливої важливості</option>
    <option value="Не таємно">Не таємно</option>
</select>